.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: mediumpurple;
}
.game__gamer {
  position: fixed;
  top: 30px;
  left: 40px;
  padding: 5px;
  background-color: rgba(255, 182, 193, .2);
  border-radius: 5px;
  color: rgb(255, 182, 193);
  font-size: 23px;
  text-decoration: underline;
}

.game__id {
  position: fixed;
  top: 80px;
  left: 40px;
  padding: 5px;
  background-color: rgba(255, 182, 193, .2);
  border-radius: 5px;
  color: rgb(255, 182, 193);
  font-size: 23px;
  text-decoration: underline;
}


.game__score {
  position: fixed;
  top: 30px;
  right: 40px;
  padding: 5px;
  background-color: rgba(95, 158, 160, .2);
  border-radius: 5px;
  color: rgb(95, 158, 160);
  font-size: 23px;
  text-decoration: underline;
}

.game__points {
  margin: 20px 0;
  padding: 5px;
  background-color: #007bff;
  border-radius: 5px;
  color: white;
  font-size: 25px;
}

.game__pass {
  margin: 0 0 10px;
  padding: 5px;
  background-color: #ffc107;
  border-radius: 5px;
  color: black;
  font-size: 20px;
}

.game__timer {
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid aqua;
  color: aqua;
  font-size: 25px;
  font-style: italic;
}

.game__word {
  margin: 30px 0;
  color: #f3ff48;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

.game__button {
  display: flex;
  align-items: center;
}
.game__button .btn:first-child {
  margin-right: 10px;
}

.game_continue {
  display: none;
}
