* {
  outline: none;
  color: black;
  font-family: 'Montserrat Alternates', sans-serif;
}
body, html {
  width: 100%;
  height: 100%;
}

strong {
  color: inherit;
  font-family: inherit;
}

#root {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}